
/* Active line background */
.markdown-source-view.mod-cm6 .cm-line.cm-active{
    background-color: rgba(139,108,239, 0.2)
}

/*Active line number */
 
.markdown-source-view.mod-cm6  .cm-lineNumbers .cm-gutterElement.cm-active {
  font-weight: 600;
  color: purple;
}
